// Colors

$black: 			#000;
$white:				#FFF;
$gray:				#444;

$green:				#BADA55;		//	#7FBA0E
$blue:				#369;			//	#02677D
$blueDark:			#063B51;

$blueMultiply:		#3A6DFC;		// Colors
$redMultiply:		#DD1788;		// For
$yellowMultiply: 	#EAEA47;		// Multiply