// Colors

$black: 			#000;
$white:				#FFF;
$gray:				#444;

$green:				#BADA55;		//	#7FBA0E
$blue:				#369;			//	#02677D
$blueDark:			#063B51;

$blueMultiply:		#264199;		// Colors
$redMultiply:		#370A52;		// For
$yellowMultiply: 	#44B22E;		// Multiply